@define-color background #1B2230;
@define-color background-alt #161A21;
@define-color text #FFFFFF;
@define-color highlight #009FF5;
@define-color highlight-alt #FFC857;

window#waybar {
    background: @background;
    margin: 5px 2px;
    border-radius: 5;
}

#workspaces {
    font-size: 24px;
    padding: 0 10px;
    margin: 0;
    background: @background-alt;
    border-radius: 15;
}

#workspaces button.active {
    /*background: @highlight;*/
    color: @highlight;
}

#workspaces button.urgent {
  color: @highlight-alt;
}

#workspaces.scratchpad { min-width: 0px; background: transparent; }

#window {
  font-size: 18px;
  padding: 0 10px;
  margin: 0;
  border-radius: 15;
  color: @highlight;
}

#battery {
  font-size: 18px;
  padding: 0 10px;
  margin: 0;
  border-radius: 15;
  color: @highlight;
}

#battery.warning {
  color: @highlight-alt;
}

#clock {
  font-size: 18px;
  padding: 0 10px;
  margin: 0;
  border-radius: 15;
  color: @highlight;
}

#custom-usage {
  border-radius: 15;
  background: @background-alt;
  color: @highlight;
}

#custom-icon {
  color: @highlight;
  font-size: 20;
}
